/*Fail Message*/

.fail {
    display: none;
    width: 50%;
    margin: 5% auto 5% auto;
    background: rgba(0,0,0,.6);
    border: 2px solid #c19b5d;
    padding: 2% 5% 3% 5%;
    p{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.7rem;
    }
}

.retakeButton {
    padding: 2% 5%;
    text-decoration: none;
    border-radius: 10px;
}

.retake {
    margin-top: 5%;
}