/*timer styles*/
.timer {
    display:none;
    background: rgba(193, 155, 93, 0.705);
    width: 20%;
    height: 39%;
    color: rgba(255,255,255,.6);
    text-align: center;
    position: fixed;
    top: 40%;
    left: 0;
    z-index: 10;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10%;
}
.secondText{
    font-size: 2rem;
    margin: 1% 0 0 0;
}

.secondNum {
    font-size: 10rem;
    margin: 4% 0 0 0;
}

